.ui-widget.ui-widget-content {
    height: 3px;
    border-radius: 3px;
    background: #7d7d7d;
    border: none;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
    border-radius: 100%;
    background: #f26522;
    border: none;
}


.geo {
    position: relative;
    padding-left: 17px;
}



.section-girls .left-sidebar .canton-layout .layout-list,
.section-girls .left-sidebar .services-layout .layout-list,
.section-girls .left-sidebar .languages-layout .layout-list {
    height: 400px;
    overflow-y: scroll;
    /*overflow-x: hidden;*/
}

.section-girls .pages a {
    vertical-align: top !important;
}


.section-single-girl .info-table td:last-child {
    text-align: right;
    color: #f26522;
}

.section-single-girl .info-table td {
    font-weight: 600;
    padding: 11px;
}


.section-single-girl .services-table i.fa-check {
    margin-right: 3px;
    color: #f26522;
}

.section-single-girl .services-table td {
    font-weight: 600;
}


.fa-caret-right {
    float: right;
    z-index: 1001;
    width: 5px;
    color: #000;
    margin-top: 2px;
}

.fa-caret-down {
    float: right;
    z-index: 1001;
    width: 5px;
    color: #000;
    margin-top: 2px;
    margin-right:
}

i {
    height: 24px;
    width: 24px;
}

.slider {
    margin-left: 17px;
}

.btn-default {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccd3e1;
    border-radius: 4px;
    color: #484848;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    padding: 0 21px;
}

.btn-default:hover {
    background: #f26522;
    color: white;
    border: 1px solid #f26522;
}

.filters-reset {
    margin-bottom: 20px;
}

.plyr {
    position: relative;

    font-family: Avenir, 'Avenir Next', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    direction: ltr;
    width: 650px;
    height: 550px!iportant;
    margin: 0 auto;
}

.plyr audio,
.plyr video {
    width: 100%;
    height: 550px!important;
    vertical-align: middle;
    border-radius: inherit;
}


.plyr--video .plyr__controls button:hover {
    background: #f26522!important;
    color: #fff;
}

.plyr__play-large {
    background: #f26522!important;
}

.plyr__progress--played,
.plyr__volume--display {
    z-index: 1;
    color: #f26522!important;
    background: 0 0;
    transition: none;
}

#is_image_large:hover {
    cursor: pointer;
}

#city {
    width: 186px;
}

.go {
    background: 0 0;
    border: 1px solid #f26522;
    border-radius: 0px;
    box-shadow: none;
    color: #7d7d7d;
    content: "Go!";
    margin-right: 10px;
}

.go:hover {
    background: #f26522;
    color: white;
    transition-duration: 0.2s;
    border-color: #f26522;
    cursor: pointer;
}

.square-spin {
    animation-name: square-spin;
    animation-fill-mode: both;
    animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
}


@-webkit-keyframes square-spin {
    25% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
        transform: perspective(100px) rotateX(180deg) rotateY(0);
    }

    50% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
        transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    }

    75% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
        transform: perspective(100px) rotateX(0) rotateY(180deg);
    }

    100% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
        transform: perspective(100px) rotateX(0) rotateY(0);
    }
}

keyframes square-spin {
    25% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
        transform: perspective(100px) rotateX(180deg) rotateY(0);
    }

    50% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
        transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    }

    75% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
        transform: perspective(100px) rotateX(0) rotateY(180deg);
    }

    100% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
        transform: perspective(100px) rotateX(0) rotateY(0);
    }
}


/******* Single Girl ********/

#map {
    height: 600px;
    width: 100%!important;
}

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#expand {
    transition: 0.3s;
}

#expand:hover {
    cursor: pointer;
    opacity: 0.7;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 5000;
    /* Sit on top */
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    background: 0 0;
    box-shadow: none;
    border: none;
}

.disabled {
    display: none!important;
}


.wizard > .steps > ul > li {
    width: 99%;
}

.wizard > .steps .current a {
    text-align: center;
    display: none;
}

.wizard > .content {
    background: #222;
    border: 1px solid #eee;
}

.wizard > .actions a {
    color: white;
    width: 143.45px;
    height: 42px;
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    padding: 0 21px;
    text-align: center;
}

.wizard > .actions a:hover {
    padding: 0;
}

.wizard > .actions > ul > li {
    margin: 0;
}

.modal_form {
    padding-left: 10px;
    padding-right: 15px;
}

.uploadcare--widget__button_type_open:hover {
    cursor: pointer;
}

.prev-next {
    margin-top: 15px;
}

button,
html [type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: none;
}

.modal-footer {
    border: none;
    margin: 0 auto;
}

.glyphicon.glyphicon-chevron-left,
.glyphicon.glyphicon-chevron-right {
    font-size: 30px;
    color: #ddd;
}

.glyphicon.glyphicon-chevron-left:hover,
.glyphicon.glyphicon-chevron-right:hover {
    color: #f26522;
    cursor: pointer;
}

.glyphicon.glyphicon-chevron-left::before {
    height: 30px;
    width: 30px;
}

/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;

}

/* Add Animation */

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;

}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}





/****** Filters ******/

.layout-title {
    cursor: pointer;
}

.layout-title a {
    height: 51px;
    color: #424242 !important;
    display: block;
    text-decoration: none;
    padding: 17px;
    margin: -1px 0 -1px 0;
    font-size: 18px;
    font-weight: bold;
    border-top: 1px solid #ebebeb;
    text-transform: uppercase;
}

.top {
    top: 7px!important;
}

.headerDropdown .rotateCaret {
    animation-name: rotateCaret;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    -webkit-transform-origin: 20% 40%;
}

.modal-backdrop.fade {
    opacity: 0;
}

@keyframes rotateCaret {
    from {
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -webkit-transform: rotate(0deg);
        /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate (90deg);
        transform: rotate(90deg);
    }
}


.headerDropdown .rotateCaretBack {
    animation-name: rotateCaretBack;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    
}


@keyframes rotateCaretBack {
    from {
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -webkit-transform: rotate(0deg);
        /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate (-90deg);
        transform: rotate(-90deg);
    }
}



/**** bx slider ****/

.bx-next,
.bx-prev {
    z-index: 1;
}




/*** MEDIA ***/

/* Smartphones (portrait) ----------- */

@media (min-width:320px) and (max-width: 479px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    #city {
        width: 193.5px;
    }

    .sorter .sort-by {
        float: none;
    }
    .tab-bar .tab-bar-inner {
        margin-right: 15px;
    }
    .filters-reset {
        text-align: center;
    }

    .product-description-tab.custom-tab .nav > li > a {
        font-size: 14px;
    }

    .plyr audio,
    .plyr video {
        width: 100%;
        height: auto !important;
        vertical-align: middle;
        border-radius: inherit;
    }

    audio,
    canvas,
    progress,
    video {
        width: 100%;
    }

    #home_logo {
        height: 81px!important;
        width: 153px!important;
    }

    .mobile-menu-area {
        padding: 10px 0 35px;
    }

    .product-content-shop {
        text-align: center!important;
        padding-top: 20px;
    }



}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {

   



}

@media only screen and (min-width: 320px) and (max-width: 767px) {

    audio,
    canvas,
    progress,
    video {
        width: 100%;
    }

    .modal-content {
        width: 80%;
    }

}


/* iPhone 4 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .vertical-menu {
        width: 100%;
    }
    .profile-info {
        margin: 0 auto;
        width: 100%;
    }

    #city {
        width: 359px;
    }

    .mean-container .mean-nav ul li li a {
        height: 13px;
        padding: 10px 10% 15px 10%;
    }
}




@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* iPhone 5 & 5S in landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) { 

    #city {
        width: 344px;
    }
    
        #home_logo {
        height: 81px;
        width: 153px;
    }
    
    .mobile-menu-area {
        padding: 35px 0 35px;
    }

}


/* iPhone 6 in landscape */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) { 

    #city {
        width: 343.5px!important;
    }
    
}




/* iPhone 6 Plus in landscape */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : landscape) { 

    #city {
        width: 343.5px!important;
    }

}



/* iPad in landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    #city {
        width: 136px;
    }
}


/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* Portrait */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
      #city {
          width: 136px;
      }
}

/* Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

}


/* iPhone X landsacpe mode*/
@media only screen 
and (device-width : 375px) 
and (device-height : 812px) 
and (device-pixel-ratio : 3)
and (orientation : landscape) {
    
   #city {
        width: 144px;
    }
}





@media (min-width:480px) and (max-width:599px) {
    /* smartphones, Android phones, landscape iPhone */
}

@media (min-width:600px) and (max-width:800px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .mobile-menu-area {
        padding: 13px 0 35px;
    }
    .mobile-menu-area.home-4 {
        padding: 35px 0 35px;
    }
    #city {
        width: 143.5px;
    }
    
    .ui-state-default, .ui-widget-content .ui-state-default {
        margin-top: 0px;
    }

    .filters-reset {
        text-align: center;
    }

    .product-img a.a-img {
        text-align: center;
    }

    #home_logo {
        height: 81px!important;
        width: 153px!important;
    }



}




@media (min-width:801px) and (max-width: 1024px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
  
    
        .ui-state-default, .ui-widget-content .ui-state-default {
        margin-top: 0px;
    }
}

@media (min-width:1025px) and (max-width: 1280px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}
