.right-banner {
    height: 376px;
    background: url('/img/banner/banner-13.jpg') center no-repeat;
    background-size: cover;
}

/*
.last-banner a {
    height: 376px;
    width: 652.5px;
}
*/

img {
    max-width: 100%;
}

#search_heading {
    font-size: 18px;
    color: #363636;
    font-weight: 800;
    letter-spacing: 1px;
}

.fa-transgender {
    margin-left: 6px;
}

.ui-widget.ui-widget-content {
    height: 3px;
    border-radius: 3px;
    background: #7d7d7d;
    border: none;
    margin: 0 0 10px 10px !important;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
    border-radius: 100%;
    background: #f26522;
    border: none;
}

input.form-control {
    border: 1px solid #f26522;
    border-radius: 0;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    width: 327px;
}

.region.geolocation {
    width: 327px;
}

#city {
    width: 280px;
}


.go {
    background: 0 0;
    border: 1px solid #f26522;
    border-radius: 0px;
    box-shadow: none;
    color: #7d7d7d;
    content: "Go!";
}

.go:hover {
    background: #f26522;
    color: white;
    transition-duration: 0.2s;
    border-color: #f26522;
    cursor: pointer;
}

.square-spin {
    animation-name: square-spin;
    animation-fill-mode: both;
    animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;  
}


@-webkit-keyframes square-spin {
    25% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
                transform: perspective(100px) rotateX(180deg) rotateY(0);
    }
    
    50% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
                transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    }
    
    75% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
                transform: perspective(100px) rotateX(0) rotateY(180deg);
    }
    
    100% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
                transform: perspective(100px) rotateX(0) rotateY(0);
    }
}

keyframes square-spin {
    25% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
                transform: perspective(100px) rotateX(180deg) rotateY(0);
    }
    
    50% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
                transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    }
    
    75% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
                transform: perspective(100px) rotateX(0) rotateY(180deg);
    }
    
    100% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
                transform: perspective(100px) rotateX(0) rotateY(0);
    }
}




@media (min-width:320px) and (max-width: 479px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .button4 {
       width: 270px;
    }
    
    .containere1 {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    #city {
        width: 210px;
    }
}



@media (min-width:480px) and (max-width:599px) { /* smartphones, Android phones, landscape iPhone */ 

}
@media (min-width:600px) and (max-width:800px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
        .button4 {
        width: 290px;
    }
    
    #city {
        width: 230px;
    }
}



@media (min-width:801px) and (max-width: 1024px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    #city {
        width: 186px;
    }
    
    .button4 {
        width: 244px;
    }
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {

    
/*
        .containere1 {
        margin-left: 0px;
        margin-right: 0px;
    }
    
*/
    #city {
        width: 186px;
    }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {

    
        .containere1 {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    #city {
        width: 224px;
    }
    
    .button4 {
        width: 282px;
    }
    
    .fixed {
        height: auto!important;
    }
    
    .title1 {
        margin: 0;
    }
    
    .title2 {
        margin: 2px;
    }
    
    .home-4 .fas8-slider-content {
        padding: 0!important;
        margin-right: 300px!important;
        margin-top: 50px;
    }
    
    .home-4 .fas7-slider-content {
        margin-top: 50px;
    }
    
    
}



/* iPhone 6 in portrait */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 
    
    #city {
        width: 222px!important;
    }
    
}


/* iPhone 6 in landscape */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) { 
    
    #city {
        width: 242px!important;
    }
    
}


/* iPhone 6 Plus in portrait */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait) {
    
    #city {
        width: 223px!important;
    }
    
    
}


/* iPhone 6 Plus in landscape */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : landscape) {
    
    #city {
        width: 242.5px!important;
    }
    
    .containere1 {
    margin-left: 67px!important;
    margin-right: 63px!important;
}


/* iPhone X landsacpe mode*/
/*
@media only screen 
and (device-width : 375px) 
and (device-height : 812px) 
and (device-pixel-ratio : 3)
and (orientation : landscape) {
    
   #city {
        width: 235px!important;
    }
}
*/


/* iPad in portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 

    #city {
        width: 243px!important;
    }

    .fixed {
        height: 140px!important;
    }
    
   
}


/* iPad in landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 

    #city {
        width: 241px!important;
    }
    
    .containere1 {
        margin-left: 45px;
        margin-right: 41px;
    }

     #home_logo {
        width: 190px!important;
    }
    
    .mainmenu.home-4 {
        text-align: center;
    }
}


/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* Portrait */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
      .containere1 {
        margin-left: 45px!important;
        margin-right: 41px!important;
    }
      
      .button4 {
          width: 290px;
      }
      
     
      
      .fixed {
          text-align: center;
          padding-top: 25px;
      }
      
      .mainmenu.home-4 {
        text-align: center;
    }
      
      .home-4 .fas7-slider-content {
          padding-top: 40px!important;
      }
      
      .home-4 .fas8-slider-content {
          padding-top: 40px!important;
          margin-right: 300px!important;
      }
}

/* Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

}





@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    .containere1 {
    margin-left: 0px;
    margin-right: 0px;
}
    
    input#city {
        width: 235px!important;
    }
}





@media (max-height:375px) and (max-width:812px) {
    .home-4 .fas8-slider-content {
        margin-top: 0px!important;
    }
    
    .home-4 .fas7-slider-content {
        margin-top: 0px!important;
    }
    
    }


@media (min-width:1025px) and (max-width: 1280px) { /* big landscape tablets, laptops, and desktops */ 

}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 

}



















