/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
/* Styles */
    .header-area.home-4 {
        margin-top: 0px;
        background: white;
}
    #home_logo {
        height: 51px;
        width: 103px;
    }
    
    .fixed {
        position: unset!important;
        height: 89px;
    }
    
    .mobile-menu-area.home-4 {
    padding: 32px 0 35px;
}
    
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
        .header-area.home-4 {
        margin-top: 0px;
        background: white;
}    
    .fixed {
        position: unset!important;
        height: 59px!important;
    }
    
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 320px) and (max-width: 767px) {
/* Styles */
    #home_logo {
            height: 81px;
            width: 153px;
    }
}







/* iPad in portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 

    .fixed {
        height: 140px!important;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    
    .fixed {
        height: 89px!important;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {

    .home-4 .fas7-slider-content {
        padding-top: 6px!important;
        margin-top: 0px!important;
    }

    .home-4 .fas8-slider-content {
        padding-top: 6px!important;
        margin-top: 0px!important;
    }
    
    .fixed {
        height: 115px!important;
    }
    
    #city {
        width: 235px!important;
    }
}

/* iPhone 6 in portrait */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 

.fixed {
        height: 89px!important;
    }
}


/* iPhone 6 Plus in landscape */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : landscape) { 
    
    .fixed {
        height: 89px!important;
    }

}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* Portrait */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
      .containere1 {
        margin-left: 45px!important;
        margin-right: 41px!important;
    }
      
      .button4 {
          width: 290px;
      }
      
     
      
      .fixed {
          text-align: center;
          padding-top: 25px;
      }
      
      .mainmenu.home-4 {
        text-align: center;
    }
      
      .home-4 .fas7-slider-content {
          padding-top: 40px!important;
      }
      
      .home-4 .fas8-slider-content {
          padding-top: 40px!important;
          margin-right: 300px!important;
      }
}

/* Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

}




/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */

    #city {
        width: 267px;
    }

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
    #home_logo {
/*
        height: 51px;
        width: 103px;
*/
    }
    
    .containere1 {
        width: 290px;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    #city {
        width: 232px;
    }
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
        .home-4 .fas8-slider-content {
    /* padding: 50px 0 50px 100px; */
    padding: 0 0 0 110px;
    text-align: center;
    margin-right: 450px;
    display: block;
}
    
    .home-4 .layer-2-2 h2.title2, .home-4 .layer-1-2 h2.title2 {
    font-size: 65px;
    }
    
    .home-4 .fas7-slider-content {
        padding: 0;
        margin-left: 270px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    .home-4 .fas8-slider-content {
        padding: 0;
        text-align: center;
        margin-right: 200px;
        display: block;
}
    
    .home-4 .layer-2-2 h2.title2, .home-4 .layer-1-2 h2.title2 {
        font-size: 35px;
        margin: 0 0 20px;
    }
    
    .title1 {
        margin: 0 0 20px;
    }
    
    .home-4 .fas7-slider-content {
        padding: 0;
        margin-left: 270px;
    }
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
    
    #city {
        width: 232px;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
    #city {
        width: 223px;
    }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

